# Node.js
node_modules/
npm-debug.log*
yarn-debug.log*
yarn-error.log*

# Logs
logs
*.log

# Vite
/dist/
dist/

# macOS
.DS_Store
.AppleDouble
.LSOverride

# Editor
.idea/
.vscode/
*.swp

# Environment
.env
.env.local
.env.*.local

# Build
build/

# Others
*.bak
*.tmp
*.temp
*.pid
*.seed
*.pid.lock

# Coverage
coverage/
.nyc_output/

# System Files
Thumbs.db
Desktop.ini
